main{
    max-width: 60%;
    margin: auto;

}
.Tabla{
    height: 200px;
    border: 2px solid black;
    text-align: center;
    background-color: bisque;
}
.Tabla p{
    font-size: xx-large;    
}
#jatekter{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}